*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html{
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
}
body{
    width: 100vw;
    height: 100vh;
}
section{
    min-height: 100vh;
    width: 100vw;
}
section h1{
    font-size: 2.8rem;
    color: #FFFFFF;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 3.4rem;
    letter-spacing: .4725rem;
    display: grid;
    grid-auto-flow: column;
    gap: 2.5rem;
    justify-content: start;
    margin: 0 16.5rem;
}
section h1 span{
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
}
/* --------------HEADER----------------- */
header{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 1fr 1.25fr;
    position: fixed;
    width: 100%;
    top: 4rem;
    z-index: 99999;
}
header svg{
    margin: 0 5.5rem;
}
header .menu{
    display:none
}
header nav{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(45px);
    padding: 0 12rem;
    position: relative;
}
header nav::before{
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    height: .05rem;
    width: 51rem;
    top: 50%;
    left: -48rem;
    mix-blend-mode: normal;
    opacity: 0.5;
}
nav ul{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    list-style-type: none;
    gap: 4.8rem;
}
ul li a{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.27rem;
    cursor: pointer;
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    gap: .8rem;
    color: #FFFFFF;
    padding: 4rem 0;
}
ul li a span{
    font-weight: 700;
}
li a:hover{
    border-bottom: .3rem solid #FFFFFF80;
}
ul li a.active{
    border-bottom: .3rem solid #FFFFFF;
}
/* ---------------HEADER ENDS------------------- */
/*--------------HOME------------------*/
#home{
    background: url('./assets/home/background-home-desktop.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: end;
}
#home h1{
    margin: 0;
}
main{
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-items: center;
    margin-bottom: 12rem;
}
.explore{
    font-size: 3.2rem;
    font-family: 'Bellefair', serif;
    color: #0B0D17;
    letter-spacing: .2rem;
    width: 27.4rem;
    height: 27.4rem;
    border-radius: 50%;
    background: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}
.explore:hover{
    box-shadow: 0 0 0 8.8rem #FFFFFF1a;
}
.introduction{
    width: 45rem;
    display: grid;
    gap: 2.4rem;
}
.introduction h1{
    font-size: 2.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .4725rem;
    color: #D0D6F9;
    text-transform: uppercase;
    font-weight: 400;
}
.introduction h2{
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    font-size: 15rem;
    font-weight: 400;
}
.introduction p {
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
}
/* -------------------HOME ENDS---------------- */
/* ------------------DESTINATION------------------ */
#destination{
    background: url('./assets/destination/background-destination-desktop.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    align-items: end;
    grid-auto-rows: 1fr 2.75fr;
}
.destnContainer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: start;
    padding-top: 6rem;
}
.destnContainer picture{
    justify-self: end;
    align-self: end;
    padding: 0 5rem;
}
.destnDesc{
    display: grid;
    gap: 3.5rem;
}
.destnContent{
    display: grid;
    gap: 1.4rem;
}
.destnContent h2{
    font-size:10rem;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 11.5rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.destnContent p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #D0D6F9;
    width: 45rem;
}
.destnContent hr{
    background: #383B4B;
    height: .1rem;
    border: none;
    margin: 4rem 0 1.4rem 0 ;
}
.info{
    display: grid;
    grid-auto-flow: column;
    gap: 8rem;
    justify-items: start;
    width: fit-content;
}
.distance, .time{
    display: grid;
    gap: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.2365rem;
    color: #D0D6F9;
    text-transform: uppercase;
}
.distance span, .time span{
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: #FFFFFF;
    font-family: 'Bellefair', serif;
}
.destnNav{
    display: grid;
    grid-auto-flow: column;
    gap: 3.5rem;
    width: fit-content;
    align-items: start;
}
.destnNav button{
    outline: none;
    border: none;
    background: none;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: .27rem;
    font-weight: normal;
    text-transform: uppercase;
    padding: 1.2rem 0;
    cursor: pointer;
}
.destnNav button:hover{
    border-bottom: .3rem solid #FFFFFF80;
}
/* ------------------DESTINATION ENDS------------------ */
/* ------------------CREW------------------ */
#crew{
    background: url('./assets/crew/background-crew-desktop.jpg');
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen;
    display: grid;
    align-items: end;
}
.crewContainer{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: auto auto;
    min-height: 70.2rem;
}
.crewContainer picture{
    align-self: end;
    grid-row: 1 / span 2;
}
.crewDesc{
    display: grid;
    gap: 12rem;
    height: fit-content;
}
.crewContent{
    display: grid;
    gap: 1.5rem;
    width: fit-content;
    padding: 4rem 0 0 16.5rem;
}
.crewContent h2, .crewContent h3{
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Bellefair', serif;
}
.crewContent h2{
    font-size: 3.2rem;
    line-height: 3.7rem;
    opacity: 0.5;
}
.crewContent h3{
    font-size: 5.6rem;
    line-height: 6.4rem;
}
.crewContent p {
    padding: 1.2rem 0;
    font-family: 'Barlow', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #D0D6F9;
    width: 45rem;
}
.crewNav{
    display: grid;
    gap: 2.4rem;
    grid-auto-flow: column;
    width: fit-content;
    padding-left:  16.5rem;
}
.crewNav button{
    outline: none;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: #ffffff2b;
    cursor: pointer;
}
.crewNav button:hover{
    background: #ffffff80;
}
/* ------------------CREW ENDS------------------ */
/* ------------------TECHNOLOGY------------------ */
#technology{
    background: url('./assets/technology/background-technology-desktop.jpg');
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen;
    display: grid;
    align-items: end;
}
.techContainer{
    display: grid;
    grid-auto-flow:column;
    align-items: center;
    margin-left: 16.5rem;
    gap: 13rem;
    align-self: center;
}
.techDesc{
    display: grid;
    grid-auto-flow: column;
    gap: 8rem;
    width: fit-content;
}
.technNav{
    display: grid;
    gap: 3.2rem;
}
.technNav button{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    outline: none;
    mix-blend-mode: normal;
    border: .1rem solid #ffffff40;
    font-family: 'Bellefair', serif;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.7rem;
    color: #FFFFFF;
    cursor: pointer;
}
.technNav button:hover{
    border: .1rem solid #ffffff;
}
.techContent{
    display: grid;
    gap: 1.5rem;
    width: fit-content;
    align-content: start;
    align-items: start;
}
.techContent h2{   
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .27rem;
}
.techContent h3{
    font-size: 5.6rem;
    line-height: 6.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Bellefair', serif;
}
.techContent p{
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-weight: 400;
    line-height: 3.2rem;
    width: 44.5rem;
}
/* ------------------TECHNOLOGY ENDS------------------ */
/* ------------------MEDIA QUERIES------------------ */
@media (max-width:1024px){
    section h1{
        font-size: 2.4rem;
        margin: 0 13.5rem;
    }
    header svg{
        margin: 0 5rem;
    }
    header nav{
        padding: 0 5rem;
    }
    header nav::before{
        width: 30rem;
        left: -28rem;
    }
    main{
        margin-bottom: 16rem;
    }
    .explore{
        font-size: 3rem;
        width: 25.4rem;
        height: 25.4rem;
    }
    .explore:hover{
        box-shadow: 0 0 0 8rem #FFFFFF1a;
    }
    .introduction{
        width: 42rem;
        display: grid;
        gap: 1.4rem;
    }
    .introduction h1{
        font-size: 2.4rem;
    }
    .introduction h2{
        font-size: 13rem;
    }
    .introduction p {
        font-size: 1.6rem;
        line-height: 3rem;
    }
    #destination{
        background: url('./assets/destination/background-destination-desktop.jpg');
        background-position: center;
        background-size: cover;
        display: grid;
        align-items: end;
        grid-auto-rows: 1fr 2.75fr;
    }
    .destnContainer{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-self: start;
        padding-top: 6rem;
    }
    .destnContainer picture{
        align-self: center;
        padding: 0 2rem;
    }
    .destnContainer picture img{
        width: 35rem;
    }
    .destnDesc{
        gap: 2.5rem;
    }
    .destnContent{
        display: grid;
        gap: 1.4rem;
    }
    .destnContent h2{
        font-size:8rem;
    }
    .destnContent p {
        font-size: 1.4rem;
        line-height: 3rem;
        width: 42rem;
    }
    .info{
        gap: 6rem;
    }
    .distance, .time{
        gap: 1rem;
        font-size: 1.3rem;
    }
    .distance span, .time span{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .destnNav{
        gap: 2.5rem;
    }
    .crewContainer h1{
        align-self: end;
    }
    .crewContainer picture{
        justify-self: end;
    }
    .crewContainer picture img{
        width: 35rem;
    }
    .crewDesc{
        gap: 8rem;
    }
    .crewContent{
        padding: 13rem 0 0 13.5rem;
    }
    .crewContent h2{
        font-size: 2.8rem;
    }
    .crewContent h3{
        font-size: 5rem;
    }
    .crewContent p {
        padding: 0;
        font-size: 1.4rem;
        line-height: 3rem;
        width: 42rem;
    }
    .crewNav{
        padding-left:  13.5rem;
    }
    .crewNav button{
        height: 1.25rem;
        width: 1.25rem;
    }
    #technology{
        background: url('./assets/technology/background-technology-desktop.jpg');
        background-position: center;
        background-size: cover;
        mix-blend-mode: screen;
        display: grid;
        align-items: end;
        grid-auto-rows: 1fr 2.75fr;
    }
    .techContainer{
        margin-left: 0;
        justify-content: center;
        gap: 4rem;
    }
    .techContainer picture img{
        width: 36rem;
    }
    .techDesc{
        gap: 4rem;
    }
    .technNav{
        gap: 3rem;
    }
    .technNav button{
        width: 6rem;
        height: 6rem;
        font-size: 2.7rem;
    }
    .techContent{
        display: grid;
        gap: 1.5rem;
        width: fit-content;
        align-content: start;
        align-items: start;
    }
    .techContent h2{   
        font-size: 1.4rem;
    }
    .techContent h3{
        font-size: 5rem;
    }
    .techContent p{
        font-size: 1.4rem;
        line-height: 3rem;
        width: 42rem;
    }
}
@media (max-width:800px){
    header{
        top: 0rem;
    }
    header svg{
        margin: 0 4rem;
    }
    header nav{
        padding: 0 4.8rem;
    }
    header nav::before{
        display: none;
    }
    nav ul{
        gap: 3.7rem;
    }
    ul li a{
        letter-spacing: 0.23625rem;
        gap: .8rem;
    }
    ul li a span{
        display: none;
    }
    section h1{
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: .3375rem;
        gap: 2.5rem;
        margin: 0 3.85rem;
    }
    #home{
        background: url('./assets/home/background-home-tablet.jpg');
        align-items: center;
        align-content: end;
    }
    #home h1{
        margin: auto;
    }
    main{
        height: 100%;
        width: 100%;
        gap: 15.5rem;
        grid-auto-flow: row;
        align-items: center;
        align-content: center;
        margin-bottom: 9rem;
    }
    .explore{
        width: 24.2rem;
        height: 24.2rem;
    }
    .introduction{
        width: 45rem;
        justify-items: center;
    }
    .introduction h1{
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: .3375rem;
    }
    .introduction h2{
        line-height: 15rem;
    }
    .introduction p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-align: center;
    }
    #destination{
        background: url('./assets/destination/background-destination-tablet.jpg');
        display: grid;
        align-items: end;
        grid-auto-rows: 1fr 5fr;
    }
    .destnContainer{
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: auto;
        justify-items: center;
        align-self: start;
        padding-top: 6rem;
        gap: 3rem;
    }
    .destnContainer picture{
        justify-self: center;
        align-self: center;
        padding: 0;
    }
    .destnContainer picture img {
        width: 30rem;
    }
    .destnDesc{
        justify-items: center;
    }
    .destnContent{
        display: grid;
        justify-items: center;
        gap: 1.4rem;
    }
    .destnContent h2{
        font-size: 8rem;
        line-height: 9.2rem;
    }
    .destnContent p {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.8rem;
        width: 57.3rem;
    }
    .destnContent hr{
        justify-self: stretch;
    }
    .info{
        display: grid;
        grid-auto-flow: column;
        gap: 8rem;
        justify-items: start;
        width: fit-content;
    }
    .distance, .time{
        display: grid;
        gap: 1.2rem;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 400;
        font-family: 'Barlow Condensed', sans-serif;
        letter-spacing: 0.2365rem;
        color: #D0D6F9;
        text-transform: uppercase;
        justify-items: center;
    }
    .distance span, .time span{
        font-size: 2.8rem;
        line-height: 3.2rem;
        color: #FFFFFF;
        font-family: 'Bellefair', serif;
    }
    .destnNav{
        display: grid;
        grid-auto-flow: column;
        gap: 3.5rem;
        width: fit-content;
        align-items: start;
    }
    .destnNav button{
        outline: none;
        border: none;
        background: none;
        color: #D0D6F9;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: .27rem;
        font-weight: normal;
        text-transform: uppercase;
        padding: 1.2rem 0;
        cursor: pointer;
    }
    .destnNav button:hover{
        border-bottom: .3rem solid #FFFFFF80;
    }
    #crew{
        background: url('./assets/crew/background-crew-tablet.jpg');
        grid-template-rows: 1fr 6fr;
        align-items: start;
    }
    .crewContainer{
        grid-row: 2;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: auto;
        gap: 4rem;
        min-height: 100%;
    }
    .crewContainer picture{
        justify-self: center;
        grid-row: 3 / span 2;
    }
    .crewDesc{
        display: grid;
        gap: 3rem;
        height: fit-content;
    }
    .crewContent{
        display: grid;
        gap: 1rem;
        padding: 0;
        padding-top: 2rem;
        justify-self: center;
    }
    .crewContent h2, .crewContent h3{
        text-align: center;
    }
    .crewContent h2{
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .crewContent h3{
        font-size: 4rem;
        line-height: 4.6rem;
    }
    .crewContent p {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.8rem;
        width: 45rem;
    }
    .crewNav{
        gap: 1.6rem;
        justify-self: center;
        padding: 0;
    }
    .crewNav button{
        height: 1rem;
        width: 1rem;
    }
    #technology{
        background: url('./assets/technology/background-technology-tablet.jpg');
        gap: 6rem;
        grid-template-rows: 1fr 4.5fr;
    }
    .techContainer{
        justify-items: center;
        grid-auto-flow:row;
        margin-left: 0;
        gap: 5.6rem;
        align-self: start;
    }
    .techContainer picture img{
        width: 100vw;
    }
    .techDesc{
        grid-auto-flow: row;
        gap: 4.4rem;
        width: fit-content;
        grid-row: 2;
    }
    .technNav{
        grid-auto-flow: column;
        gap: 1.6rem;
        justify-content: center;
    }
    .technNav button{
        width: 6rem;
        height: 6rem;
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .technNav button:hover{
        border: .1rem solid #ffffff;
    }
    .techContent{
        justify-items: center;
    }
    .techContent h3{
        font-size: 4rem;
        line-height: 4.6rem;
    }
    .techContent p{
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-align: center;
        width: 44.5rem;
    }
}
@media (max-width:600px){
    section h1{
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: .27rem;
        gap: 1.8rem;
        margin: 0;
        justify-items:  center;
        justify-content: center;
    }
    header{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    header svg{
        margin: 2.4rem 2.4rem 0;
        align-self: start;
    }
    header nav{
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        padding: 0 0 0 3.2rem;
        height: 100vh;
        width: 70vw;
        display: grid;
        align-content: start;
        gap: 6rem;
        transition: 0.4s;
    }
    header .menu{
        display: block;
        justify-self: end;
        margin: 3.4rem 2.6rem 0;
    }
    header nav.mobile{
        transform: translate(0, 0);
    } 
    header .menu.hide{
        display: none;
    }
    nav ul{
        display: grid;
        grid-auto-flow: row;
        gap: 1.8rem;
        justify-content: stretch;
    }
    ul li a{
        display: grid;
        gap: 1rem;
        padding: .7rem 0;
        justify-content: start;
    }
    ul li a span{
        display: grid;
    }
    ul li a.active{
        border-bottom: none;
        border-right: .4rem solid #FFFFFF;
    } 
    header .open{
        display: block;
        margin: 3.4rem 2.6rem 0;
    }
    #home {
        background: url('./assets/home/background-home-mobile.jpg');
        background-size: cover;
    }
    main{
        gap: 8rem;
        margin-bottom: 4.8rem;
    }
    .explore {
        font-size: 2rem;
        width: 15rem;
        height: 15rem;
    }
    .introduction{
        width: 32rem;
    }
    .introduction h1{
        font-size: 1.6rem;
        letter-spacing: .27rem;
        line-height: 1.9rem;
    }
    .introduction h2{
        font-size: 8rem;
        line-height: 10rem;
    }
    .introduction p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    #destination{
        background: url('./assets/destination/background-destination-mobile.jpg');
        grid-auto-rows: 1fr 7fr;
    }
    .destnContainer{
        grid-auto-flow: row;
        grid-template-rows: max-content auto;
        padding-top: 3rem;
        padding-bottom: 5rem;
        gap: 2.6rem;
    }
    .destnContainer picture{
        justify-self: center;
        align-self: center;
        padding: 0;
    }
    .destnContainer picture img {
        width: 17rem;
    }
    .destnDesc{
        gap: 2rem;
    }
    .destnContent{
        display: grid;
        gap: 1.4rem;
    }
    .destnContent h2{
        font-size:5.6rem;
        line-height: 6.4rem;
    }
    .destnContent p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 32rem;
    }
    .destnContent hr{
        margin: 2rem 0 ;
    }
    .info{
        grid-auto-flow: row;
        gap: 3.2rem;
        justify-items: center;
    }
    .destnNav{
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
        width: fit-content;
        align-items: start;
    }
    .destnNav button{
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: .23625rem;
        padding: 0 0 0.8rem 0;
    }
    #crew{
        background: url('./assets/crew/background-crew-mobile.jpg');
        background-position: center;
        background-size: cover;
    }
    .crewContainer{
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        min-height: auto;
        gap: 3.2rem;
    }
    .crewContainer picture{
        align-self: end;
        justify-self: stretch;
        display: grid;
        justify-items: center;
        grid-row: 2;
        border-bottom: .1rem solid #383B4B;
        margin: 0 2.4rem ;
    }
    .crewContainer picture img{
        width: 17.7rem;
    }
    .crewDesc{
        display: grid;
        gap: 3.2rem;
        height: fit-content;
    }
    .crewNav{
        grid-row: 1;
    }
    .crewContent{
        gap: 0.8rem;
        padding: 0;
    }
    .crewContent h2{
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    .crewContent h3{
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .crewContent p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 32rem;
    }
    #technology{
        background: url('./assets/technology/background-technology-mobile.jpg');
        background-position: center;
        background-size: cover;
    }
    .techContainer{
        gap: 3.4rem
    }
    .techDesc{
        gap: 2.4rem;
    }
    .technNav{
        gap: 1.6rem;
    }
    .technNav button{
        width: 4rem;
        height: 4rem;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    .techContent h2{   
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: .2365rem;
    }
    .techContent h3{
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    .techContent p{
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 32rem;
    }
}